body{
    background-image: url("image2.png");
}
.Content{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:900px;
  height:400px;
  overflow-y:auto;
  border:3px solid #e0bcbf;
  display: flex;
  flex-direction: column-reverse;
  font-size:22px;
}

.parent-div{
  border:solid 1px #33aaff;
  width:85%;
  height:90%;
  margin:0 auto;
  border:3px solid #e0bcbf;

}
.texts{
  margin: auto;
  position: relative;
  text-align: center;
  top: 22%;
  width:900px; 
    border:3px solid #e0bcbf;
}

.input-box{
    margin-top:9px;
    padding:8px;
    width:85%;
    font-size:15px;
}

.buttonStyle{
   font-size:16px;
   padding-left:18px;
   height:38px;
}

