body{
    background-image: url("image2.png");
}
.Content{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:900px;
  height:400px;
  overflow-y:auto;
  border:3px solid #e0bcbf;
  display: flex;
  flex-direction: column-reverse;
  font-size:22px;
}
.users-style{
  position:absolute;
  font-size:20px;
  margin-top:130;
  margin-left:60%;
  text-align: center;
}

.parent-div{
  border:solid 1px #33aaff;
  width:85%;
  height:90%;
  margin:0 auto;

}
.texts{
  margin: auto;
  position: relative;
  text-align: center;
  top: 22%;
  width:900px; 
}

.input-box{
    margin-top:9px;
    padding:8px;
    width:85%;
    font-size:15px;
}

.buttonStyle{
   font-size:16px;
   padding-left:18px;
   height:38px;
}

.list-style{
  list-style-type:none;
  padding-bottom:10px;
}
.title-style{
    position:absolute;
  font-size:36px;
  margin-top:50px;
  text-align: center;
  margin-left:35%;
}